@model List<PPSAP.DTO.UserDTO>
@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["Msg"].ToString()
    </div>
}
@if (Model != null && Model.Count > 0)
{
    <form>
        <div class="container" id="pageContent">
            <div class="n4m-layout-pageSpan well">
                <div class="container-fluid">
                    <div id="dnn_ContentPane" class="ContentPane">
                        <h2>Recover Password</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                @foreach (var user in Model)
                                {
                                    <div>
                                        <div></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">User Id</label>
                                        <input type="text" id="userId" class="form-control" readonly value="@user.UserId" />
                                        @*<p>@user.UserId</p>*@
                                    </div>
                                    <div class="form-group">
                                        <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">First Name</label>
                                        <input type="text" id="userId" class="form-control" readonly value="@user.FirstName" />
                                    </div>
                                    <div class="form-group marginbottom">
                                        <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">Last Name</label>
                                        <input type="text" id="userId" class="form-control" readonly value="@user.LastName" />
                                    </div>
                                    <div class="form-group marginbottom">
                                        <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">Email</label>
                                        <input type="text" id="userId" class="form-control" readonly value="@user.UserEmail" />
                                    </div>
                                    <div class="form-group marginbottom">
                                        <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">Password</label>
                                        <input type="text" id="userId" class="form-control" readonly value="@user.Password" />
                                    </div>
                                    <div class="form-group marginbottom">
                                        <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">Role</label>
                                        <input type="text" id="userId" class="form-control" readonly value="@user.Role" />
                                    </div>
                                }
                                <a class="btn btn-primary" href="@Url.Content("~/Login/Index")" role="button">Sign In</a>
                                <a class="btn btn-primary" href="@Url.Content("~/Login/SendEmail")" role="button">Send Email</a>
                            </div>

                            <div class="col-md-6">
                                <div class="well login-sidebar">
                                    <p><strong><span id="dnn_ctr1179_Login_lblOrgMemberQuestionText">Now you can Sign In</span></strong></p>
                                    <p>
                                        <span id="dnn_ctr1179_Login_lblOrgMemberRegisterdText">You can Sign In to your account to use Pre-Placement Self Assessment Program by clicking on Sign In link.</span><br />
                                        <a href="@Url.Content("~/Login/Index")"><span id="dnn_ctr1179_Login_lblOrgMemberCreateAccountText">Sign In</span></a>
                                    </p>
                                    <p>
                                        <span id="dnn_ctr1179_Login_lblOrgMemberDoNoCreateAccountText">If you believe you have an account and are unable to log in, DON'T CREATE A NEW ACCOUNT.</span><br />
                                        <span>Try to <a href="@Url.Content("~/Login/Index")">Sign In</a> or contact us.</span>
                                    </p><br />
                                    <h4>Contact:</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="mailto:member.services2024@gmail.com" target="_blank">member.services2024@gmail.com</a></li>
                                        <li>+91-7400267154 or +91-7385415148</li>
                                    </ul>
                                    <div class="divider">&nbsp;</div>
                                    <h3>Discover</h3>
                                    <ul class="blocks">
                                        <li>About the self knowledge</li>
                                        <li>About self improvement areas</li>
                                        <li>About Self-confidence</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<link href="~/Content/Login/SignIn.css" rel="stylesheet" />
