@model  PPSAP.DTO.UserDTO
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["Msg"].ToString()
    </div>
}

@using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <form>
        <div class="container" id="pageContent">
            <div class="n4m-layout-pageSpan well">
                <div class="container-fluid">
                    <div id="dnn_ContentPane" class="ContentPane">
                        <h2>Sign In or Create Account</h2>
                        <div class="row">
                            <br />
                            <div class="col-md-6">
                                <div>
                                    <div></div>
                                </div>
                                <div class="form-group">
                                    <label for="dnn_ctr1179_Login_txtEmail" id="Login_Email" class="control-label">Email&ensp;<span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control", placeholder = "Enter email", id = "UserEmail1" })
                                    @*@Html.ValidationMessageFor(model => model.UserEmail, null, new { @class = "text-danger" })*@
                                    <span id="UserEmail-error" class="text-danger"></span>
                                </div>
                                <div class="form-group marginbottom">
                                    <label id="" class="control-label">Password&ensp;<span style="color:red;">*</span></label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", placeholder = "Enter password", id = "passwordInput" })
                                        <span class="input-group-addon toggle-password" id="togglePassword">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })*@
                                    <span id="UserPassword-error" class="text-danger"></span>
                                </div>
                                <input type="submit" value="Sign In" class="btn btn-primary" id="SignIn_Button" />
                                <input type="button" value="Clear" class="btn btn-default" onclick="clearFields()" />
                                <ul class="forgot">
                                    <li><a href="@Url.Content("~/Login/Forgotpassword")">Forgot password?</a></li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <div class="well login-sidebar">
                                    <p><strong><span id="dnn_ctr1179_Login_lblOrgMemberQuestionText">Not having an Account?</span></strong></p>
                                    <p>
                                        <span id="dnn_ctr1179_Login_lblOrgMemberRegisterdText">You can Create an account for free to use Pre-Placement Self Assessment Program.</span><br />
                                        <a href="@Url.Content("~/Login/SignUp")"><span id="dnn_ctr1179_Login_lblOrgMemberCreateAccountText">Create an Account</span></a>
                                        <span id="dnn_ctr1179_Login_lblOrgMemberCreateAccountText2"></span>
                                    </p>
                                    <p>
                                        <span id="dnn_ctr1179_Login_lblOrgMemberDoNoCreateAccountText">If you believe you have an account and are unable to log in, DON'T CREATE A NEW ACCOUNT.</span><br />
                                        <span>Try to <a href="@Url.Content("~/Login/Index")">Sign In</a> or contact us.</span>
                                    </p><br />
                                    <h4>Contact:</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="mailto:member.services2024@gmail.com" target="_blank">member.services2024@gmail.com</a></li>
                                        <li>+91-7400267154 or +91-7385415148</li>
                                    </ul>
                                    <div class="divider">&nbsp;</div>
                                    <h3>Discover</h3>
                                    <ul class="blocks">
                                        <li>About the self knowledge</li>
                                        <li>About self improvement areas</li>
                                        <li>About Self-confidence</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

<link href="~/Content/Login/SignIn.css" rel="stylesheet" />
<script src="~/Scripts/Login/Login_Signup.js"></script>
<script src="~/Scripts/Login/validateEmail.js"></script>

